<!-- Use css to format the html layout -->

h1 {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: #000;
}

h3 {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: 200;
  line-height: 1;
  color: #ad1d28;
}

#mpgVal{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
  color: white;
  background-color: #ad1d28;
  text-align: center;
}

body {
  background-color: #fff;
}